<launch>
    <!-- move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find laser_scan_matcher_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find laser_scan_matcher_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find laser_scan_matcher_navigation)/params/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find laser_scan_matcher_navigation)/params/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find laser_scan_matcher_navigation)/params/dwa_local_planner_params.yaml" command="load" />
        <!--<rosparam file="$(find laser_scan_matcher_navigation)/params/base_local_planner_params.yaml" command="load" />-->
        <rosparam file="$(find laser_scan_matcher_navigation)/params/move_base_params.yaml" command="load"/>
        <!--cmd_velをcmd_vel_move_baseにremap-->
        <!--<remap from="cmd_vel" to="cmd_vel_move_base"/>-->
        <remap from="cmd_vel" to="cmd_vel"/>
    </node>
</launch>
