<launch>
  <!-- laser scan matcher -->
  <!-- use lidar -->
  <!--<include file="$(find laser_scan_matcher_navigation)/launch/laser_scan_matcher_with_lidar.launch" />-->
  <!-- use lidar and imu -->
  <!--<include file="$(find laser_scan_matcher_navigation)/launch/laser_scan_matcher_with_imu_lidar.launch" />-->
  <!-- use odom, lidar and imu -->
  <include file="$(find laser_scan_matcher_navigation)/launch/laser_scan_matcher_with_odom_imu_lidar.launch" />

  <!-- amcl -->
  <include file="$(find laser_scan_matcher_navigation)/launch/amcl.launch" />

  <!-- move_base -->
  <include file="$(find laser_scan_matcher_navigation)/launch/move_base.launch" />

</launch>